.navbar{
  background-color: #333545;
}
a{
  color: #CCCCCC;
}
a:hover{
  color: white;
}
.navbar-image{
  height: 40px;
}
.sign-in{
  border: 1px solid #F84464;
  border-radius: 6px;
  background-color: #F84464;
  height: 27px;
}
.fa-bars{
  font-size: 22px;
}
.navbar-brand{
  padding-left: 120px;
}
.form-control{
  width: 500px;
  color: #999999;
}
.navbar-expand-lg .navbar-nav .nav-link{
  margin-top: 10px;
  margin-right: 20px;
}
.dropdown{
  margin-left: 350px;
}
.navbar{
  padding: 0px;
}
.bg-light{
  background-color: #222539;
}
.navbar-expand-lg .navbar-nav .nav-link
{
  padding-left: 0px;
  padding-right: 0px;
}
.second{
  padding-left: 120px;
}
.dropdown-toggle{
  background-color: #333545;
  border: none;
  color: #CCCCCC;
}
button:hover{
  color: white;
}
.dropdown-item{
  background-color: white;
  color: black;
}
.dropdown-item:hover{
  background-color: white;
  color: black;
}
.carousel-indicators > button
{
  border-radius: 50%;
  width: 8px;
  height: 7px;
}
img
{
  border-radius: 5px;
  height: 350px;
}
.carousel{
  height: 370px;
  width: 1536px;
  display: flex;
  border: 10px solid #EBEBEB;
  border-radius: 5px;
}
.right{
  color: white;
  font-size: small;
  padding-top: 0px;
}
.right-list{
  padding-left: 474px;
}
.left{
  padding-top: 0px;
}
.second-navbar{
  padding-top: 2px;
  padding-bottom: 2px;
}
.header{
  margin-top: 50px;
  margin-left: 140px;
}
.header-image
{
  height: 20px;
  width: 120px;
}
span{
  font-size: smaller;
  padding-left: 10px;
  font-weight: 600;
}
h3
{
  font-weight: 700;
  letter-spacing: 0px;
  color: #333333;
}
.movies{
  display: inline-flex;
}
.movie{
  padding-right: 30px;
}
.movie-img{
  height: 378px;
  width: 222px;
  padding-bottom: 15px;
}
.title{
  margin: 0px 0px 4px;
  word-break: break-word;
  color: rgb(34, 34, 34);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
  overflow: hidden;
  text-overflow: ellipsis;
}
.genre{
  margin: 0px;
  word-break: break-word;
  color: rgb(102, 102, 102);
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
}
.footer-img{
  width: 1260px;
  padding-top: 100px;
  height: 580px;
  padding-bottom: 50px;
}
