<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img class="navbar-image" src="../../../assets/Pictures/bs.png" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search for Movies, Events, Plays, Sports and Activities" aria-label="Search">
        </form>
      </li>
    </ul>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
      <li class="nav-item dropdown">
        <button class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Cities
        </button>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#">Agra</a></li>
          <li><a class="dropdown-item" href="#">Goa</a></li>
          <li><a class="dropdown-item" href="#">Manali</a></li>
          <li><a class="dropdown-item" href="#">Mumbai</a></li>
          <li><a class="dropdown-item" href="#">Jaipur</a></li>
          <li><a class="dropdown-item" href="#">Bengaluru</a></li>
          <li><a class="dropdown-item" href="#">Hyderabad</a></li>
          <li><a class="dropdown-item" href="#">Ooty</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link active sign-in" aria-current="page" href="#" style="padding-left: 10px; padding-right: 10px;">Sign in</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa-solid fa-bars"></i></a>>
      </li>
    </ul>
    </div>
  </div>
</nav>
<nav class="navbar navbar-expand-lg" style="background-color: #222539;">
  <div class="container-fluid second-navbar">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav second me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link left" routerLink="/movie">Movies</a>>
        </li>
        <li class="nav-item">
          <a class="nav-link left" routerLink="">Stream</a>
        </li>
        <li class="nav-item">
          <a class="nav-link left" routerLink="">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link left" routerLink="">Plays</a>
        </li>
        <li class="nav-item">
          <a class="nav-link left" routerLink="">Sports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link left" routerLink="">Activities</a>
        </li>
      </ul>
      <ul class="navbar-nav second me-auto mb-2 mb-lg-0 right-list" >
        <li class="nav-item">
          <a class="nav-link right" aria-current="page" href="#">List Your Shows</a>
        </li>
        <li class="nav-item">
          <a class="nav-link right" href="#">Coorporates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link right" href="#">Offers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link right" href="#">Gift Cards</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
